* {
    box-sizing: border-box;
}
body {
    background-color: #0A0119;
}
.flex-container {
    display: flex;
    justify-content: space-between;
}
.flex-item {
    color: white;
    font-size: 32px;
    margin-top: 100px;
    margin-left: 100px;
}
.about {
    color: white;
    margin-left: 500px;
    font-size: 22px;
    margin-top: 100px;
}
.project {
    color: white;
    font-size: 22px;
    margin-top: 100px;
}
.contact {
    color: white;
    font-size: 22px;
    margin-top: 100px;
    margin-right: 70px;
}
h2 {
    color: white;
    margin-left: 100px;
    margin-top: 200px;
}
h1 {
    color: white;
    margin-left: 100px;
}
.img1 {
    float: right;
    width: 300px;
    height: 400px;
    margin-top: -70px;
    margin-left: -100px;
    line-height: 80px;
    margin-right: 100px;
}
.text1 {
    color: white;
    width: 608px;
    height: 84px;
    margin-left: 100px;
    font-size: 18px;
}
.button1 {
    width: 184px;
    height: 48px;
    margin-left: 100px;
    border-radius: 20px;
    font-size: 20px;
}
h3 {
    color: white;
    text-align: center;
    margin-top: 127.08px;
    font-size: 36px;
}
.img2 {
    float: left;
    width: 348px;
    height: 429.13px;
    margin-left: 100px;
}
.text2 {
    color: white;
    width: 608px;
    height: 252px;
    margin-left: 568px;
    margin-right: 150px;
    margin-top: 98px;
    font-size: 18px;
}
.button2 {
    width: 184px;
    height: 48px;
    margin-left: 120px;
    margin-top: -80px;
    border-radius: 20px;
    font-size: 20px;
}
h4 {
    color: white;
    text-align: center;
    margin-top: 120.87px;
    font-size: 32px;
}
.flex-images {
    display: flex;
    flex-wrap: wrap;
    margin-left: 100px;
    padding: 5px;
    gap: 1rem;
}
.fimg1 {
    border-radius: 10px;
    width: 336px;
}
.fimg2 {
    border-radius: 10px;
    width: 336px;
}
.fimg3 {
    border-radius: 10px;
    width: 336px;
}
.fimg4 {
    border-radius: 10px;
    margin-top: 68px;
    width: 336px;
}
.fimg5 {
    border-radius: 10px;
    margin-top: 68px;
    width: 336px;
}
.cap1 {
    color: white;
    font-size: 18px;
    margin-left: 100px;
}
.bottom-info {
    color: white;
    text-align: center;
}
.info1 {
    font-size: 22px;
    margin-top: 128px;
}
.info2 {
    font-size: 36px;
    margin-top: 32px;
}
.info3 {
    font-size: 48px;
    margin-top: 32px;
}
.footer-container {
    display: flex;
    justify-content: space-between;
    margin-top: 225px;
    flex-wrap: wrap;
}
.bottom-femi {
    color: white;
    font-size: 36px;
    margin-left: 100px;
}
.pic1 {
    margin-right: 70px;
}
.pic2 {
    margin-right: 50px;
}
.pic4 {
    margin-left: 50px;
    margin-right: 100px;
}
.okay {
    color: #F9F5FF;
    margin-top: 80px;
    margin-left: 102px;
    margin-bottom: 139px;
}
.tictok {
    color: white;
    margin-top: 30px;
}
.tictok1 {
    color: white;
    margin-top: 30px;
}
.tictok2 {
    color: white;
    margin-top: 30px;
}
.tictok3 {
    color: white;
    margin-top: 30px;
}
.inline {
    color: white;
    padding: 5px;
    border: 1px solid white;
    border-radius: 10px;
    text-align: center;
}
.inline4 {
    color: white;
    padding: 5px;
    border: 1px solid white;
    border-radius: 10px;
    text-align: center;
}
.inline5 {
    color: white;
    padding: 5px;
    border: 1px solid white;
    border-radius: 10px;
    text-align: center;
}
@media screen and (max-width:834px) {
    .about {
        margin-right: 60px;
        margin-left: 210px;
    }
    .project {
        margin-right: 60px;
    }
    .contact {
        margin-right: 100px;
    }
    .img1 {
        float: right;
        margin-right: 50px;
    }
    .text1 {
        width: 370px;
        height: 112px;
    }
    .text2 {
        margin-left: 180px;
        font-size: 16px;
    }
    .img2 {
        margin-left: 50px;
        margin-right: 100px;
        width: 340.59px;
        height: 420px;
    }
    .button2 {
        margin-right: -50px;
        margin-left: -10px;
        margin-top: 20px;
    }
    .flex-images {
        display: flex;
        margin-left: 70px;
        padding: 5px;
        gap: 1rem;
    }
    .fimg4 {
        display: none;
    }
    .fimg5 {
        display: none;
    }
    .tictok {
        display: none;
    }
    .inline4 {
        display: none;
    }
    .inline5 {
        display: none;
    }
    .fimg1 {
        width: 336px;
        height: 336px;
    }
    .fimg2 {
        width: 336px;
        height: 354.62px;
    }
    .fimg3 {
        width: 366.47px;
        height: 366.47px;
        margin-top: 36.15px;
    }
    .bottom-info {
        margin-left: 0;
    }
    .pic1 {
        margin-left: 30px;
    }
    .pic4 {
        margin-right: 70px;
    }
}