* {
    box-sizing: border-box;
}
body {
    background-color: #0A0119;
}
.flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.flex-item {
    color: white;
    font-size: 30px;
    margin-top: 100px;
    margin-left: 100px;
}
.about {
    color: white;
    margin-left: 705px;
    font-size: 22px;
    margin-top: 100px;
}
.project {
    color: white;
    font-size: 22px;
    margin-top: 100px;
}
.contact {
    color: white;
    font-size: 22px;
    margin-top: 100px;
    margin-right: 100px;
}
h2 {
    color: white;
    margin-left: 100px;
    margin-top: 200px;
}
h1 {
    color: white;
    margin-left: 100px;
}
.img1 {
    float: right;
    width: 300px;
    margin-top: -70px;
    line-height: 80px;
    margin-right: 100px;
}
.text1 {
    color: white;
    width: 608px;
    height: 84px;
    margin-left: 100px;
    font-size: 18px;
}
.button1 {
    width: 184px;
    height: 48px;
    margin-left: 100px;
    border-radius: 20px;
    font-size: 20px;
}
h3 {
    color: white;
    text-align: center;
    margin-top: 127.08px;
    font-size: 36px;
}
.img2 {
    float: left;
    width: 348px;
    height: 429.13px;
    margin-left: 100px;
}
.text2 {
    color: white;
    width: 608px;
    height: 252px;
    margin-left: 568px;
    margin-right: 120px;
    margin-top: 98px;
    font-size: 18px;
}
.button2 {
    width: 184px;
    height: 48px;
    margin-left: 120px;
    border-radius: 20px;
    font-size: 20px;
}
h4 {
    color: white;
    text-align: center;
    margin-top: 120.87px;
    font-size: 32px;
}
.flex-images {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    margin-left: 50px;
    margin-right: 50px;
    gap: 1rem;
}
.fimg1 {
    border-radius: 10px;
}
.fimg2 {
    border-radius: 10px;
}
.fimg3 {
    border-radius: 10px;
}
.fimg4 {
    border-radius: 10px;
    margin-top: 68px;
}
.fimg5 {
    border-radius: 10px;
    margin-top: 68px;
}
.cap1 {
    color: white;
    font-size: 18px;
    margin-left: 100px;
}
.bottom-info {
    color: white;
    text-align: center;
}
.info1 {
    font-size: 22px;
    margin-top: 128px;
}
.info2 {
    font-size: 36px;
    margin-top: 32px;
}
.info3 {
    font-size: 48px;
    margin-top: 32px;
}
.footer-container {
    display: flex;
    justify-content: space-between;
    margin-top: 225px;
    flex-wrap: wrap;
}
.bottom-femi {
    color: white;
    font-size: 36px;
    margin-left: 100px;
}
.pic1 {
    margin-left: 1010px;
    margin-right: 86px;
}
.pic2 {
    margin-right: 50px;
}
.pic4 {
    margin-left: 50px;
}
.okay {
    color: #F9F5FF;
    margin-top: 80px;
    margin-left: 102px;
    margin-bottom: 139px;
}
.tictok {
    color: white;
    margin-top: 30px;
}
.inline {
    color: white;
    padding: 5px;
    border: 1px solid white;
    border-radius: 10px;
    text-align: center;
}